/* 
my feature:
(1) the shape of the links
(2) there is a hover in search box
(3) you can navigate between the first three links in the same page smoothly
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --main-color: black;
  --secondry-color: red;
  --white-color: white;
  --dark-blue: #2c4755;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* .logo {
    width: 200px;
    height: 200px;
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small screen */
@media (min-width: 768px) {
  .container {
    width: 759px;
  }
}

/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970x;
  }
}

/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
header {
  padding: 10px;
  background-color: var(--main-color);
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 9px -4px white;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 40px;
}

header .imghome {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15%;
  top: 15%;


}

header .links {
  position: relative;
}

header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icon span {
  background-color: var(--secondry-color);
  margin-bottom: 5px;
  height: 2px;
  cursor: pointer;
}

header .links .icon span:first-child {
  width: 100%;
}

header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

header .links .icon span:last-child {
  width: 100%;
}

header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
  cursor: pointer;
}

/* header .links:hover ul {
  display: block;
} */
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--secondry-color);
  transition: 0.3s;
}

header .links ul li a:hover {
  padding-left: 25px;
}

header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.searching {
  border-radius: 16px;
  height: 30px;
  transition: 0.3s;
  width: 95px;
  padding: 5px;
  border: #9a9898 solid 1px;
  outline: none;
  background-color: var(--main-color);
  color: #ddd;
}

.searching:hover {
  border: var(--secondry-color) solid 2px;
  outline: none;
  width: 200px;
}

/* end header */
/* start landing sectin */
section {
  background-color: var(--main-color);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

section .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

section .intro-text h1 {
  margin: 0;
  font-weight: normal;
  font-size: 150px;
  font-family: "Caveat", cursive;
  /* color: var(--secondry-color);*/
}

section .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  color: var(--white-color);
  text-transform: capitalize;
}

section .photographer {
  height: calc(100vh - 64px);
  position: absolute;
  right: 0px;
}

section .hand {
  width: calc(100vh - 300px);
  position: absolute;
  left: -8px;
}

@media (max-width: 1199px) {

  section .photographer,
  section .hand {
    display: none;
  }
}

/* end landing sectin */
/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #202020;
}

.features .container .feat h3,
.features .container .feat p {
  color: var(--white-color);
}

.features .container .feat i {
  color: var(--secondry-color);
  /* font-size: 25px; */
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  background-color: #53525233;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
  color: var(--white-color);
}

.features .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}

/* end features */
/* start components */
.special-heading {

  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading+p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #ebeced;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading+p {
    margin-top: -20px;
  }
}

/* end components */
/* start services*/
.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-color);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .srv i {
  color: var(--secondry-color);
  flex-basis: 60px;
}

.services .services-content .srv .text {
  flex: 1;
  color: var(--white-color);
  text-transform: capitalize;
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .services-content .srv .text p {
  font-weight: 300;
  line-height: 1.6;
  color: #777;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  background-color: rgb(25, 209, 19);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  right: 0;
  position: absolute;
}

.services .services-content .image img {
  width: 260px;
  z-index: 1;
  position: sticky;
}

@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

/* end services*/
/* start about */
.about {
  padding-top: 60px;
  padding-bottom: calc(60px + 60px);
  background-color: var(--main-color);
}

.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #202020;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
}

.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--secondry-color);
  border-bottom: 80px solid var(--secondry-color);
  right: -150px;
  top: -40px;
}

@media (max-width: 991px) {

  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about .about-content .image img {
  max-width: 100%;
  z-index: 1;
  position: sticky;
  height: 376px;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
  text-transform: capitalize;
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
  color: var(--white-color);
}

.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--secondry-color);
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}

/* end about */
/* start contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-color);
}

.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 15px;
  color: var(--white-color);
}

.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
  color: var(--secondry-color);
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  color: #777;
}

.contact .info .social i {
  margin-left: 10px;
  color: var(--secondry-color);
}

@media (max-width: 767px) {

  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}

/* end contact */
/* start footer  */
footer {
  background-color: #202020;
  color: var(--white-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}

footer span {
  font-weight: bold;
  color: var(--secondry-color);
}

/* end footer  */