* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --main-color: black;
  --secondry-color: red;
  --white-color: white;
  --dark-blue: #2c4755;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--main-color);
}
/* .logo {
    width: 200px;
    height: 200px;
} */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container {
    width: 759px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container {
    width: 970x;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start header */
header {
  padding: 10px;
  background-color: var(--main-color);
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 9px -4px white;
  width: 100%;
  /* position: relative; */
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .logo {
  width: 40px;
}
header .imghome {
  width: 30px;
    height: 30px;
    position: absolute;
    right: 15%;
    top: 15%;
    

}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: var(--secondry-color);
  margin-bottom: 5px;
  height: 2px;
  cursor: pointer;
}
header .links .icon span:first-child {
  width: 100%;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .links .icon span:last-child {
  width: 100%;
}
header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
  cursor: pointer;
}
header .links:hover ul {
  display: block;
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--secondry-color);
  transition: 0.3s;
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.searching {
  border-radius: 16px;
  height: 30px;
  transition: 0.3s;
  width: 95px;
  padding: 5px;
  border: #9a9898 solid 1px;
  outline: none;
  background-color: var(--main-color);
  color: #ddd;
}
.searching:hover {
  border: var(--secondry-color) solid 2px;
  outline: none;
  width: 200px;
}

/* end header */
.texts {
  display: flex;
  justify-content: center;
  
}
.texts p {
  color: white;
  width: 450px;
  text-align: center;
  margin-top: 20px;
}
.personinfo {
  width: 437px;
  padding: 8% 0 0;
  margin: 60px auto;
}
.personinfo .container1 {
  position: relative;
  z-index: 1;
  background: #202020;
  max-width: 438px;
  margin: 0 auto 25px;
  padding: 45px 60px 1px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 550px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.personinfo .container1 span,
.personinfo .container2 span,
.personinfo .container3 span {
  width: 154px;
  height: 2px;
  background-color: red;
  position: absolute;
  right: 32%;
  margin-top: 10px;
}
.personinfo .container1 form,
.personinfo .container3 form {
  position: relative;
  z-index: 1;
  margin: 100px auto ;
}
.personinfo .container1 p,
.personinfo .container3 p{
  
  color: white;
  margin: 0;
}
.container1 input,
.container1 select,
.container3 input,
.container3 select {
  display: inline;
    padding: 10px 20px;
    text-align: center;
    background-color: #202020;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #53525233;
    color: var(--white-color);
    transition: 0.3s;
}
.container1 input:focus,
.container1 select:focus,
.container3 input:focus,
.container3 select:focus {
  outline: none;
  border-color:red ;
}
.container1 .check {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #202020;
  box-sizing: border-box;
  border: none;
 
  color: var(--white-color);
  transition: 0.3s;
}
/* start components */


.special-heading {
  padding-top: 80px;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
  color: rgb(32, 32, 32);
}
.special-heading + p {
  margin: -30px auto;
  font-size: 20px;
  text-align: center;
  color: #ebeced;
  text-transform: capitalize;
  width: 600px;
}
@media (max-width: 767px) {
.special-heading {
    font-size: 60px;
  }
.special-heading + p {
    margin-top: -20px;
  }
}
/* end components */
/* start footer  */
footer {
  background-color: #202020;
  color: var(--white-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer span {
  font-weight: bold;
  color: var(--secondry-color);
}
/* end footer  */

/* start container2 */
.personinfo .container2 {
  position: relative;
  z-index: 1;
  background: #202020;
  max-width: 438px;
  margin: 0 auto 23px;
  padding: 45px 60px 1px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 456px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.personinfo .container2 form {
  position: relative;
  z-index: 1;
  margin: 60px auto ;
}
.personinfo .container2 p{
  
  color: white;
  margin: 0;
}
.container2 input {
  display: inline;
    padding: 20px 20px;
    text-align: center;
    background-color: #202020;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #53525233;
    color: var(--white-color);
    transition: 0.3s;
}
.container2 .radio input,
.container2 .radio label {

  color: white;
}
.container2 .check {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #202020;
  box-sizing: border-box;
  border: none;
 
  color: var(--white-color);
  transition: 0.3s;
}
/* end container2 */
/* start container3 */
.personinfo .container3 {
  position: relative;
  z-index: 1;
  background: #202020;
  max-width: 438px;
  margin: 0 auto 25px;
  padding: 45px 60px 1px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  height: 406px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/* end container3 */
.personinfo button {
  transform: translateX(175px);
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.personinfo button:hover {
  border: 1px solid red;
  background-color: black;
}