* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --main-color: black;
  --secondry-color: red;
  --white-color: white;
  --dark-blue: #2c4755;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--main-color);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screen */
@media (min-width: 768px) {
  .container,
  .containerfprm {
    width: 759px;
  }
}
/* medium screen */
@media (min-width: 992px) {
  .container,
  .containerfprm {
    width: 970x;
  }
}
/* large screen */
@media (min-width: 1200px) {
  .container,
  .containerfprm {
    width: 1170px;
  }
}
/* start header */
header {
  padding: 10px;
  background-color: var(--main-color);
  position: fixed;
  /* position: relative; */
  z-index: 2;
  box-shadow: 0px 0px 9px -4px white;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .imghome {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15%;
  top: 15%;
}
header .logo {
  width: 40px;
}
header .links {
  position: relative;
}
header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .icon span {
  background-color: var(--secondry-color);
  margin-bottom: 5px;
  height: 2px;
  cursor: pointer;
}
header .links .icon span:first-child {
  width: 100%;
}
header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
header .links .icon span:last-child {
  width: 100%;
}
header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
  cursor: pointer;
}
header .links:hover ul {
  display: block;
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--secondry-color);
  transition: 0.3s;
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
.searching {
  border-radius: 16px;
  height: 30px;
  transition: 0.3s;
  width: 95px;
  padding: 5px;
  border: #9a9898 solid 1px;
  outline: none;
  background-color: var(--main-color);
  color: #ddd;
}
.searching:hover {
  border: var(--secondry-color) solid 2px;
  outline: none;
  width: 200px;
}

/* end header */

/* start components */


.special-heading {
  padding-top: 90px;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
  color: rgb(32, 32, 32);
}
.special-heading + p {
  margin: -30px auto;
  font-size: 20px;
  text-align: center;
  color: #ebeced;
  text-transform: capitalize;
  width: 600px;
}
@media (max-width: 767px) {
.special-heading {
    font-size: 60px;
  }
.special-heading + p {
    margin-top: -20px;
  }
}
/* end components */
/* start canon product */
.canonpro  {
  display: grid;
  justify-items: center;
  margin-top: 30px;
}
.canonpro .marketname {
  position: relative;
}
/*.canonpro .marketname .underline {
  width: 154px;
  height: 2px;
  background-color: red;
  position: absolute;
  right: 32%;
  margin-top: 10px;
}*/
.canonpro .marketname .canonlog:hover {
transform: translate(0 , -15px);
}
.canonpro img {
 width: 200px;
 height: 200px;
 transition: 0.3s;
 border-top-left-radius: 20px;
}
.canonpro .container .canoncontent {
  display: flex;
  justify-content: space-around;
}
.canonpro .container .cameras {
  transition: 0.3s;
}
.canonpro .container .cameras:hover {
  /* transform: scale(1.2); */
  /* padding-bottom: 20px; */
  transform: translate(0,-15px);
}
.canonpro .container .canoncontent .cameras .info {
  background-color: #202020;
  width: 200px;
  margin-top: -20px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 21px;
  padding-top: 10px;
  border-bottom-right-radius: 20px;
}
.canonpro .container .canoncontent .cameras .info span {
  color: red;
}
.canonpro .container .canoncontent .cameras .info h3 {
  color: red;
}
.canonpro .container .canoncontent .cameras .info p {
  color: #777;
  width: 200px;
}
/* end canon product */
/* start footer  */
footer {
  background-color: #202020;
  color: var(--white-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
footer span {
  font-weight: bold;
  color: var(--secondry-color);
}
/* end footer  */